<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Task" asp-action="Index">Tasks</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserProfile" asp-action="Index">User Profiles</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <span class="navbar-text text-dark">Hello, @User.Identity.Name</span>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-action="logout" asp-controller="account">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link text-dark" asp-action="register" asp-controller="account">Register</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-action="login" asp-controller="account">Login</a>
                            </li>
                        }
                </ul>
            </div>
        </div>
    </nav>
</header>
