<div class="spinner-content" id="global-spinner" style="display: none">
    <div class="d-flex flex-column align-items-center">
        <div class="spinner-grow" role="status"></div>
        <strong>Loading...</strong>
    </div>
</div>