@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-3 my-4">Welcome to DIMS!</h1>
    <h2 class="display-4 my-5">Dev incubator management system</h2>
    <h3 class="my-4">Learn about main documents <a href="https://github.com/Dev-incubator/Wiki-Backend" target="_blank">here</a></h3>
</div>
