@model UserProfileViewModel
@{
    var directionList = ViewBag.Directions as SelectList;
}
<div class="form-group">
    <label asp-for="DirectionId" class="control-label"></label>
    <select asp-for="DirectionId" asp-items="directionList" class="form-control"></select>
    <span asp-validation-for="DirectionId" class="text-danger"></span>
</div>